$headings: #212a3e;



body {
    background-color: #DFD7C8 ;
    font-family: 'Montserrat', sans-serif !important; 
    h4{
      font-family: 'Montserrat', sans-serif; 
}
  h1{
    font-family: 'Montserrat', sans-serif; 
}
    }

.logo {
    display: block;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 6px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1200px;
    height: auto;
}



.home {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: bolder;
}

.homeP {
    text-align: center;
    padding-top: 30px;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;}

.authors {
    color: $headings;
    text-align: center;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;}



.menu-left {
    width:  165px
    
    
}


.menu-words {
    margin-left: 120px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
}



.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.nav-bar {
    background-color:#36461a;

    ul{
        background-color: #36461a;
    }
}

.white {
    color: white;
    font-size: 14pt;
    font-weight: 400;
  }

  .bbackground {
    background-color: #DFD7C8;
    color: #0F3325;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);
    

  }

  .button-margin {
    margin-right: 10px; /* Adjust the value to increase or decrease the spacing */
  }

  .plant-list {
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
  }

.plant-photo {
    margin: auto;
    height: 275px;
    width: 275px;
}

.plant-grid {
    margin-left: 32px;
    margin-right: 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
  }
  
  .plant-grid .column {
    flex-basis: calc(33.33% - 20px); /* Adjust the percentage and margin as needed */
    margin-bottom: 20px; /* Adjust the margin as needed */
  }
  
  @media (max-width: 768px) {
    .plant-grid .column {
      flex-basis: calc(50% - 20px); /* Adjust the margin as needed */
    }
  }
  
  @media (max-width: 480px) {
    .plant-grid .column {
      flex-basis: 100%;
    }
  }

  .name-text {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    h4{
      font-weight: bolder;
      font-size: 20pt;
    }
    }

  .centered-image {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 50px;
    font-family: 'Montserrat', sans-serif;
  }
  
  .plant-list-image {
    margin-top: 40px;
    width: 100%;
    max-width: 800px;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);
  }
  .cherokee {
    background-color: #36461a;
    margin-top: 100px;
    margin-left: 30px;
    margin-right: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);
  }
  .cherokee p {
    text-decoration: center;
    margin: auto;
    color: white;
  }

  .show-header {
    p{
      font-size: 20pt;
      font-weight: bold;
    }
  }

  .login{
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);
    color: white;
  }

  .formButton{
    background-color: #36461a;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);

  }

  .recipeButton {
    background-color:#36461a;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 15px;
    p{
      color: white;
      font-size: 12pt;
      font-weight: 500;
    }
  }
  
  .text{
    p{
      font-size: 12pt;
      font-weight: bold;
    } 
  }

  .button.search-bar-text {
    font-size: 16px;
    
  }

  .featured {
    margin-top: 75px;
    h4{
      font-weight: bolder;
      font-size: 20pt;
      margin-bottom: 15pt;
    }
  }

  .featured-plants {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);

  }

  .weather {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: auto;
  margin-top: auto;
  margin-left: 100px;
  margin-right: 100px;
  }

  .recipeForm{
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: auto;
  }

  .recipe-picture{
    max-width: 200px;
    max-height: 200px;
    margin-top: 10px;
  }